@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-navbar: var(--navbar);
  --color-card: var(--card);
  --color-card-border: var(--card-border);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --color-accent-blur: var(--accent-blur);
  --color-button-primary: var(--button-primary);
  --color-button-secondary: var(--button-secondary);
  --color-title: var(--title);
  --color-paragraph: var(--paragraph);
  --color-copyright: var(--copyright);
  --color-footer: var(--footer);
  --color-footer-title: var(--footer-title);
  --color-footer-paragraph: var(--footer-paragraph);
}

:root {
  --background: oklch(0.985 0.005 250);
  --navbar: oklch(0.997 0.003 250);
  --card: oklch(98.444% 0.00463 258.639);
  --card-border: oklch(0.96 0.01 250);
  --border: oklch(0.93 0.01 250);  

  --accent: oklch(0.72 0.17 150);
  --accent-blur: oklch(0.72 0.17 150 / 0.1);

  --hero: oklch(84.522% 0.0001 271.152);

  --button-primary: oklch(0.72 0.17 150);
  --button-secondary: oklch(0.67 0.16 260);

  --title: oklch(0.23 0.04 260);
  --paragraph: oklch(0.45 0.03 250);
  --copyright: oklch(0.45 0.03 250);

  --footer: oklch(0.23 0.04 260);
  --footer-title: oklch(100% 0.00011 271.152);
  --footer-paragraph: oklch(0.7137 0.0192 261.32);
}

@layer base {
  body {
    @apply bg-background text-paragraph;
  }
}